*{
  margin: 0;
  padding: 0;
}
header {background-color: rgb(255, 255, 255);}
.cab{
    
    justify-content: center;
    padding: 40px;
}
.h1{
  width: 50px;
}
  .img1{
    width: 20%;
  }
  .img2{
    width: 20%;
  }
  .img3{ 
    width: 20%;
  }
  .img4{
    width:  254px;
  }
.img5{
    width: 20%;
}
.img6{
    width: 400px;
}
.img7{
    width: 330px;
}
.cabeçalho {
  background-color: aliceblue;
  color: aqua;
  display: flex;
  justify-content: space-around;
  padding: 24px 0;
}
.cabeçalho-imagem{
  width: 20%;
}
.cabeçalho-lista-item{
  display: inline-block;
  margin: 0 16px;
  font-size: 24px;
}

  
